.content-block
  .row
    - if @idea.count >= 2
      .action-block
        = form_tag(ideas_path, :method => 'get', id: 'search-form', class: 'pull-right') do
          .input-group
            .dropdown
              %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Sort by
                %span.caret
              %ul.dropdown-menu{'aria-labelledby' => 'dropdownMenu1', :role => 'menu'}
                %li{:role => 'presentation'}
                  = link_to 'creation date', :controller => 'ideas', :action => 'index', :sort_by_column => 'created_at'
                %li{:role => 'presentation'}
                  = link_to 'comments count', :controller => 'ideas', :action => 'index', :sort_by_column => 'comments_count'
                %li{:role => 'presentation'}
                  = link_to 'rating', :controller => 'ideas', :action => 'index', :sort_by_column => 'rate'
    - if @idea.count == 0
      .idea-block-fill
        = image_tag('/img/no_ideas.png')
  .row
    .ideas-container
      = render :partial => @idea
    .pagination
      = paginate @idea

= javascript_include_tag "ideas.js"