= form_for(:idea, :url=> {action: "create"}) do |f|
  = f.label :title
  .form_title
    = f.text_field :title
  = f.label :description
  .form_description
    -#= f.text_area :description
    = f.text_area :description, :class => "redactor", :rows => 20, :cols => 60
  = f.fields_for :attachments do |p|
    .field
      = p.label :path
      %br/
      = p.file_field :path, :multiple => true, name: "attachments[path][]"
  = f.submit "Create"
