.auth-form
  %h2
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-group
      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name, class: 'form-control'
    .form-group
      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name, class: 'form-control'
    .form-group
      %div
        = f.label :post
        %br/
        = f.select :rank_id, options_for_select(@ranks.each_with_index.map {|name, index| [name,index+1]}), {}, {:class => 'form-control'}
    .form-group
      %div
        = f.label :office_num
        %br/
        = f.select :office_num, options_for_select(@offices), {}, { :class => 'form-control' }
    .form-group
      %div
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      %div
        = f.label :password
        %i (leave blank if you don't want to change it)
        %br/
        = f.password_field :password, autocomplete: "off"
    .form-group
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
    .form-group
      %div
        = f.label :current_password
        %i (we need your current password to confirm your changes)
        %br/
        = f.password_field :current_password, autocomplete: "off"
    .form-group
      %div= f.submit "Update"
