.container
  .row
    .col-md-2
      .avatar-box-big
        = image_tag(@user.avatar.big_avatar.url, :class => 'img-circle')
        %span.glyphicon.glyphicon-pencil.pull-right.change-avatar
    .col-md-10
      .user-name
        %span
          = "#{@user.first_name}"+" #{@user.last_name}"
      .user-post
        %span.glyphicon.glyphicon-user
          = @user_post
      .last-activity
        %span.glyphicon.glyphicon-time
          Last activity at ...



