-# navigation styled for Bootstrap 3.0
%nav.navbar-default
  .container
    .navbar-header
      %ul.nav.nav-pills
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Create idea', new_idea_path
    .collapse.navbar-collapse
      %ul.nav.nav-pills.pull-right
        - if user_signed_in?
          %li
            = link_to user_path(current_user.id) do
              = image_tag(current_user.avatar.small_avatar.url, :class => 'img-circle')
              = "#{current_user.first_name}" + " #{current_user.last_name}"
          %li
            = link_to destroy_user_session_path, method: 'delete', :class => 'btn btn-lg' do
              %span.glyphicon.glyphicon-log-out
        - else
          %li
            = link_to 'Login', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path